{#
/**
 * @file photo.html.twig
 * Default theme implementation to present Photo data.
 *
 * This template is used when viewing a photo entity's page,
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_photo()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('photo') }}>
    {% if content %}
        {{- content -}}
    {% endif %}
</div>
